train
val
test_public
train_preprocessed
train_preprocessed/*
val_preprocessed
test_public_preprocessed
test_preprocessed
*.zip
val_real
val_real_preprocessed
test_public_real
test_public_real_preprocessed
old_data